body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';
   @import '/src/scss/variables.scss';

   #skills {
      background: $retro-green-900;
      
   }

   .skills-tile {
      background-color: transparentize(rgb(143, 143, 143), 0.95);
   }
   footer {
      background: $retro-green-900;
   }

 

    .project-switch {
         background: $retro-green-600;
      }

      .react-swtich-bg {
         background-color: $retro-green-900 !important;
      }
   
   .slider-tab {
      background-color: $retro-green-700;
   }

   .title-styles {
      color: $retro-green-50;
   }


   .slider-image {
      border: 5px solid $retro-green-800;
   }



   .link-href {
      color: white;
   }

   .project-date {
      background-color: $retro-green-700;
      color: $retro-green-50;
   }

   header {
      background-color: $retro-green-800;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: $retro-green-400;
      h1 span {
         color: $retro-green-50;
      }
      .polaroid span {
         background: $retro-green-50;
      }
      .card {
         background: $retro-green-700;
         color: $retro-green-50;
      }
   }

   #portfolio {
      background: $retro-green-600;
      .section-title {
         color: $retro-green-50 !important;
      }
      .foto div {
         background: $retro-green-50;;
      }
      .project-title-settings {
         color: $retro-green-700;
      }
     
   }


   #resume {
      filter: brightness(80%);
      background: $retro-green-600;
      .section-title {
         color: whitesmoke !important;
      }

      .experience-badge {
         background: $retro-green-400 !important;
         color: whitesmoke !important;
      }

      .main-badge {
         background: $retro-green-600 !important;
         color: whitesmoke !important;
      }

      .vertical-timeline-element-date {
         color: $retro-green-50;
      }

      
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: $retro-green-500;
      color: $retro-green-50;
   }

   .close-icon {
      color: $retro-blue;
   }
}

