/* Variables */

$retro-cream: rgba(242,235,201,1);
$retro-brown: rgba(115,86,70,1); 
$retro-red: rgba(204,107,73,1); 
$retro-yellow: rgba(208,160,76,1); 
$retro-blue: rgba(115,188,167,1); 
$retro-green-50: rgba(235,237,236,1);
$retro-green-100: rgba(193,199,197,1);
$retro-green-200: rgba(163,172,169,1);
$retro-green-300: rgba(122,134,130,1);
$retro-green-400: rgba(96,111,105,1);
$retro-green-500: rgba(56,75,68,1);
$retro-green-600: rgba(51,68,62,1);
$retro-green-700: rgba(40,53,48,1);
$retro-green-800: rgba(31,41,37,1);
$retro-green-900: rgba(24,32,29,1);

/* background  */
$retro-cream-a50: rgba(239,225,189,1);

/* background header  */
$retro-cream-a100: rgba(233,213,161,1);
